body {
    background-color: rgba(0, 0, 0, 0.1);
    
    
}
h1 {
    color: rgba(0, 0, 0, 0.7);
}
/* main */
.main {
    margin-top: 8%;
    height: 270px;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
/* controls */
.controls {
    display: flex;
    
    flex-direction: column;
    

        & input {
            margin-bottom: 10%;
        }
        & input.get {
            background-color: #00aaff;
            
        }
        & input.head {
            background-color: #6f42c1;
        }
        & input.patch {
            background-color: #155724
        }
        & input.put {
            background-color: #ff9800;
        }
        & input.post {
            background-color: #28a745;
        }
        & input.delete {
            background-color: #dc3545;
        }
        & input.options {
            background-color: #ffc107;
        }
        & input.trace {
            background-color: #6c757d
        }
        & input.connect {
            background-color: #007bff;
        }
}




/* output */
.output {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
