* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

/* Banner de Simulação */
.simulation-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffc107;
    color: #000;
    text-align: center;
    font-weight: bold;
    display: none; /* Inicialmente escondido */
    z-index: 1;
}

.controls {
    flex: 1;
    padding: 10px;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 8px 0 0 8px;
}

#start-server {
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

#start-server.active {
    background-color: #4CAF50;
}

.http-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    width: 48%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #555;
    transition: background-color 0.3s, transform 0.2s;
}

/* Botão de simulação */
button.simulate {
    background-color: #777;
}

/* Efeito de hover e zoom */
button:hover {
    background-color: #666;
    transform: scale(1.05);
}

/* Cor no modo de simulação */
.simulation-active button:not(.simulate) {
    background-color: #333 !important;
    cursor: not-allowed;
}

button.simulate:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Inputs e Configurações */
.params {
    margin-top: 5px;
}

input {
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
}

.base-url {
    margin-top: 5px;
}

.base-url label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.output {
    flex: 2;
    padding: 10px;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 0 8px 8px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

#results {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
